*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    max-width: 1440px;
    width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 645px;
    background: url(images/hero.jpg) bottom;
    background-size: cover;

}
.center-text img{
width: 900px;
min-width: 900px;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    height: 33px;
    overflow-y: hidden;
}

.images {
    margin-top: 3px;
    display: inline-flex;
    margin-right: 9px;
}
.images img{
width: 25%;
margin-left: 3px;
}
img.firts-img{
    margin-left: 0;
}
nav.nav{
    width: 70%;
    background: linear-gradient( 0deg, rgb(104, 104, 104), rgb(94, 94, 94) 50%, rgb(112, 112, 112) 50%, rgb(141, 141, 141) );
    height: 33px;
    margin-top: 50px;
}
nav ul a{
    justify-content: center;
}
nav ul li{
    margin-top: 7px;
}
.logo-apple {
    margin-top: -7px;
}