* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

.container {
  min-width: 1440px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 645px;
  background: url(images/hero.jpg) bottom;
  background-size: cover;
}

footer img {
  width: 12px;
}

.center-text img {
  width: 900px;
  min-width: 900px;
}

nav ul {
  list-style-type: none;
  display: grid;
  height: 36px;
  overflow-y: hidden;
  grid-template-columns: 105px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.images {
  margin-top: 3px;
  display: inline-flex;
  margin-right: 9px;
  width: 100%;
}

footer a {
  color: #08c;
  text-decoration: none;
}

footer li {
  list-style-type: none;
  border-right: solid 1px #bdb8b8;
  padding-right: 6px;
}

nav ul li {
  justify-content: center;
  height: 36px;
  text-decoration: none;
  border-right: 1px solid #666;
  margin-top: 7px;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: #d0d0d0;
}

.images div {
  width: 100%;
  margin-left: 3px;
  height: 196px;
}

.img-1 {
  background-image: url(images/iphone.jpg);
  background-size: cover;
  width: 100%;
}

.img-2 {
  background-image: url(images/green-iphone.jpg);
  background-size: cover;
}

.img-3 {
  background-image: url(images/happy.jpg);
  background-size: cover;
}

.img-4 {
  background-image: url(images/supplier.jpg);
  background-size: cover;
}

nav.nav {
  width: 70%;
  background: linear-gradient(0deg, rgb(104, 104, 104), rgb(94, 94, 94) 50%, rgb(112, 112, 112) 50%, rgb(141, 141, 141));
  height: 36px;
  margin-top: 50px;
  border-radius: 5px;
}

.logo-apple {
  margin-top: -7px;
  margin-left: -25px;
}

.center-text {
  margin-top: 92px;
}

input[type="text"] {
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(104, 104, 104), rgb(94, 94, 94) 50%, rgb(112, 112, 112) 50%, rgb(141, 141, 141));
  border-color: transparent;
  width: 100px;
}

i.fas.fa-search {
  position: absolute;
  font-size: 13px;
  margin-top: 4px;
  margin-left: 7px;
}

.text-2 {
  overflow-y: hidden;
  height: 30px;
  margin-top: 20px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 12px;
  font-size: 10px;
  margin-top: 13px;
  color: gray;
}

footer ul {
  display: flex;
  justify-content: space-between;
}

.copyright {
  display: grid;
  grid-template-columns: 0.37fr 1fr;
}

.images a {
  width: 25%;
  margin-left: 3px;
  height: 196px;
}

footer a:hover {
  text-decoration: underline;
}

.title {
  text-align: center;
}

.title img {
  width: 600px;
  min-width: 600px;
}

li#privacy-policy {
  padding-left: 10px;
  border-right: none;
}
.usa-logo{
  border-right: none;
}